<h3>Favorite Jokes</h3>

<button
  *ngIf="(favoriteJokes$ | async).length < favoriteJokesLimit"
  (click)="toggleRandomJokesTimer()"
>
  {{ randomJokesTimer ? 'Stop Timer' : 'Start Timer' }}
</button>

<ul>
  <li *ngFor="let joke of favoriteJokes$ | async">
    {{ joke.joke }}

    <div *ngIf="joke.categories.length > 0">
      <ul>
        <li *ngFor="let category of joke.categories">
          {{ category }}
        </li>
      </ul>
    </div>

    <button (click)="removeFavoriteJoke(joke.id)">
      Remove
    </button>
  </li>
</ul>
